
/* Reseters */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reseters End */










/* CSS Body Begin */

body {
	font-family: "Helvetica", sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	width: 100%;
}


/* Navigation Bar */
header {
	border-bottom: 1px solid seashell;
	height: 69px;
	z-index: 1;
	display: flex;
	width: 100%;
	align-items: center;
	position: fixed;
	background-color: black;
}

header img {
	padding-left: 10px;
	height: 50px;
}

nav {
text-align: right;
flex-grow: 1;
}

nav p{
	text-decoration: underline;
	display: inline-block;
	padding-right: 20px;
}




/* Main (All Sections) */
main {
	padding-top: 69px;
	width: 1200px;
	justify-content: center;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}




 /* Headings */
h2, h4 {
	padding: 10px;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
}








/* Mission Section */
#mission {
	height: 700px;
	margin: auto;
	background-image: url("../images/img-mission-background.jpg");
	background-size: cover;
  background-color: black;
	
}

#mission .content {
margin: auto;
background-color: black;
width: 100%;
}






/* Tea of the Month Section */
#tea-of-the-month .content {
	width: 1000px;
	padding-top: 69px;
}

.item {
	display: inline-block;
	width: 320px;
}

.item p {
	display: block;
	text-align: center;
	font-weight: bold;
}

.item img {
	width: 300px;
	height: 200px;
	display: block;
	margin: 10px;
}






/* Locations Section */
#locations {
	padding-top: 70px;
	margin-top: 70px;
	background-image: url("../images/img-locations-background.jpg");
	height: 500px;
	
}

#locations .flex-container {
	margin: auto;
}

.location-item {
	display: inline-block;
	margin: 20px 15px;
	background-color: black;
	width: 300px;
	padding: 25px 0;
	opacity: 1;
}

.location-item h3 {
	font-weight: bold;
	font-size: 1.15em;
	padding-bottom: 5px;
}

.location-item p {
padding-top: 30px;
padding-bottom: 10px;
}





/* Contacts Section */
#contacts {
	height:200px;
	margin-top: 15px
}

#contacts h5 {
	font-weight: bold;
	padding: 30px;
}





/* Footer */
footer {
	margin-left: 20px;
	text-align: left;
	padding-top: 80px;
	padding-bottom: 30px;
}

